* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: Black;
}
.cusBtn {
  padding: 10px 15px;
  border: 0;
  color: hsl(26, 100%, 55%);
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cusBtn:active {
  transform: scale(0.9);
}
